{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
Mesa de Ayuda
{% endblock title %}
{% block content %}
<h1 class="display-1 text-light">
    Mesa de Ayuda
</h1>
<div class="container-fluid mt-4 pb-5">

    <div class="row row-cols-1 row-cols-md-5 g-4">

        <div class="col">
            <div class="card bg-main bg-nigromante-hover text-light h-100">
                <img src="{% static '/img/pokemon/emerald/100.png' %}" class="card-img-top p-4" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lucario</h5>
                    <span class="badge rounded-pill bg-nigromante text-bg-light mb-2">Nigromante</span>
                    <span class="badge rounded-pill bg-danger text-bg-light mb-2">Arquero</span>
                    <span class="badge rounded-pill bg-black text-bg-light mb-2">Oscuro</span>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae!
                    </p>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-outline-info container-fluid stretched-link">Ver</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-main text-light h-100">
                <img src="{% static '/img/pokemon/emerald/100.png' %}" class="card-img-top p-4" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lucario</h5>
                    <span class="badge rounded-pill bg-warning text-bg-light mb-2">Nigromante</span>
                    <span class="badge rounded-pill bg-danger text-bg-light mb-2">Mago</span>
                    <span class="badge rounded-pill bg-black text-bg-light mb-2">Oscuro</span>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae!
                    </p>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-outline-info container-fluid stretched-link">Ver</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-main text-light h-100">
                <img src="{% static '/img/pokemon/emerald/10.png' %}" class="card-img-top p-4" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lucario</h5>
                    <span class="badge rounded-pill bg-warning text-bg-light mb-2">Nigromante</span>
                    <span class="badge rounded-pill bg-danger text-bg-light mb-2">Mago</span>
                    <span class="badge rounded-pill bg-black text-bg-light mb-2">Oscuro</span>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae!
                    </p>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-outline-info container-fluid stretched-link">Ver</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-main text-light h-100">
                <img src="{% static '/img/pokemon/emerald/23.png' %}" class="card-img-top p-4" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lucario</h5>
                    <span class="badge rounded-pill bg-warning text-bg-light mb-2">Nigromante</span>
                    <span class="badge rounded-pill bg-danger text-bg-light mb-2">Mago</span>
                    <span class="badge rounded-pill bg-black text-bg-light mb-2">Oscuro</span>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae!
                    </p>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-outline-info container-fluid stretched-link">Ver</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-main text-light h-100">
                <img src="{% static '/img/pokemon/emerald/32.png' %}" class="card-img-top p-4" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lucario</h5>
                    <span class="badge rounded-pill bg-warning text-bg-light mb-2">Nigromante</span>
                    <span class="badge rounded-pill bg-danger text-bg-light mb-2">Mago</span>
                    <span class="badge rounded-pill bg-black text-bg-light mb-2">Oscuro</span>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae!
                    </p>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-outline-info container-fluid stretched-link">Ver</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-main text-light h-100">
                <img src="{% static '/img/pokemon/emerald/36.png' %}" class="card-img-top p-4" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lucario</h5>
                    <span class="badge rounded-pill bg-warning text-bg-light mb-2">Nigromante</span>
                    <span class="badge rounded-pill bg-danger text-bg-light mb-2">Mago</span>
                    <span class="badge rounded-pill bg-black text-bg-light mb-2">Oscuro</span>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae!
                    </p>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-outline-info container-fluid stretched-link">Ver</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-main text-light h-100">
                <img src="{% static '/img/pokemon/emerald/148.png' %}" class="card-img-top p-4" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lucario</h5>
                    <span class="badge rounded-pill bg-warning text-bg-light mb-2">Nigromante</span>
                    <span class="badge rounded-pill bg-danger text-bg-light mb-2">Mago</span>
                    <span class="badge rounded-pill bg-black text-bg-light mb-2">Oscuro</span>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae!
                    </p>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-outline-info container-fluid stretched-link">Ver</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-main text-light h-100">
                <img src="{% static '/img/pokemon/emerald/6.png' %}" class="card-img-top p-4" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lucario</h5>
                    <span class="badge rounded-pill bg-warning text-bg-light mb-2">Nigromante</span>
                    <span class="badge rounded-pill bg-danger text-bg-light mb-2">Mago</span>
                    <span class="badge rounded-pill bg-black text-bg-light mb-2">Oscuro</span>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae!
                    </p>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-outline-info container-fluid stretched-link">Ver</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-main text-light h-100">
                <img src="{% static '/img/pokemon/emerald/76.png' %}" class="card-img-top p-4" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lucario</h5>
                    <span class="badge rounded-pill bg-warning text-bg-light mb-2">Nigromante</span>
                    <span class="badge rounded-pill bg-danger text-bg-light mb-2">Mago</span>
                    <span class="badge rounded-pill bg-black text-bg-light mb-2">Oscuro</span>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae!
                    </p>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-outline-info container-fluid stretched-link">Ver</button>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}