{% load bootstrap5 %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg pt-2 pb-2" id="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Servicios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Personajes</a></li>
                        <li><a class="dropdown-item" href="#">Villanos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Objetos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Estadísticas</a></li>
                        <li><a class="dropdown-item" href="#">Poderes</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Artículos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ">Mesa de Ayuda</a>
                </li>
            </ul>
            <button class="btn btn-primary" type="submit">¡Descargar Ahora!</button>
        </div>
    </div>
</nav>
{% endblock navbar %}